extends components/layout.pug

block styles
    link(rel="stylesheet", href="/css/chat.css")
block content
    h3.center.blue-grey-text.text-darken-4 Hello!

    .messages#messages
        ul
            li.message(v-for="message in messages" v-bind:class="{'from right-align': message.from == 'machine', 'to': message.from == 'user'}")
                span(v-bind:class="{'blue white-text': message.from == 'machine', 'white black-text': message.from == 'user'}") {{ message.text }}
                  

block scripts
    script(src="/js/init/index.js")
    
